.login {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px;

  .logo {
    img {
      aspect-ratio: 1;
    }
    p {
      color: #36a546cc;
      font: normal normal normal 16px/21px;
      border: 1px solid #000000;
    }
  }
  @media screen and (min-width: 700px) {
    img {
      width: 150px;
    }
  }

  .login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    /* text-align: center; */

    input,
    button {
      width: max(25vw, 248px);
      height: 42px;
      border-radius: 20px;
      padding: 4px 16px;
    }

    input {
      background: #1f191966;
      box-shadow: inset 0px 3px 3px #fffdfd40, 3px 3px 3px #4a494947;
      border: none;
      color: #ffffff8c;
    }

    button {
      background: transparent
        linear-gradient(180deg, #00ff2580 0%, #000000 100%, #36a54680 100%) 0%
        0% no-repeat padding-box;
      border: 2px solid #8cff0026;
      cursor: pointer;
      font-size: 16px;
      font-weight: bold;
      color: #ffffff8c;
    }
    a {
      color: #36a546;
      font: normal normal normal 15px/20px Mulish;
      letter-spacing: 0.02px;
    }
  }
}
